/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    list-style-type: none;
  }

  /* Nav Styles */

  nav li {
    font-size: 1.5em;
    padding: 10px;
    font-weight: 400;
    background: white;
    text-transform: lowercase;
    margin: 0px 20px 5px 20px;
  }

  a {
    text-decoration: none;
    color: #282a2b;
  }

  a:visited {
    color: #282a2b;
  }

  a:hover {
    color: rgb(164, 214, 255);
    transition: .4s;

  }
  
  /* Header Styles */

  header {
    background-color: rgb(248, 248, 248);
  }
  
  h1{
    padding: 25px 0px 25px 0px;
    margin: 0px;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive, sans-serif;

  }

  .profile-image {
    width: 75%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 5px;
  }

  /* Main Styles */

  body {
    color: #282a2b;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    text-align: center;
    margin: 0px;
  }

  p {
    font-size: 1.3em;
    margin: 25px;
    }

  p.top-col {
    padding: 0px 25px 25px 25px;
  }
  

  h2 {
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px 0px 15px 0px;
    margin: 15px 0px 0px 0px;
  }

img {
  max-width: 100%;
}

.contact {
  background-color: rgb(248, 248, 248);
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding-top: 50px;
}

.skills-header {
  padding-top: 0px;
  margin: 30px 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

footer {
  margin: 0px;
  padding: 20px;
  background-color: rgb(248, 248, 248);
}

.left-name {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin: 0px;
}

.right-backtotop {
  float: right;
  display: inline-block;
  margin: 0px 0px 0px 20px;
  font-weight: bold;
}

.right {
  display: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h4 {
    font-size: 1.5em;
  }

img {
  max-width: 90%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contact-list {
  font-size: 1.3em;
}

footer.clearfix {
  padding: 40px 20px 20px 20px;
  }


  /* Styles for larger screens */

  @media (min-width: 768px) {

  h1 {
    font-size: 3em;
  }

  nav li {
    display: inline-block;
    background: none;
    padding: 0px 35px 0px 35px;
    font-weight: bold;
    font-size: 1.5em;
  }

  header p {
    width: 45%;
    height: 100%;
    text-align: left;
    padding: 0px;
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 0px;
  }

p {
  font-size: 1em;
}

  .profile-image {
    float: right;
    width: 49%;
    padding: 0px;
  }

  h2 {
    padding: 15px;
    margin: 15px 0px 0px 0px;
  }

  .container.clearfix {
    padding-bottom: 45px;
    width: 90%;
    margin: 2% auto;
  }

  .portfolio {
    font-size: 1.3em;
    width: 95%;
    margin: 0 auto;
  }

  .col {
      float: left;
      width: calc(50% - 20px);
      margin: 20px 10px 20px 10px;
  }

  h3#contact {
  margin-top: 60px;
  padding-top: 50px;
}

  .contact-info,
  .contact-list {
    padding: 0px 30px 30px 30px;
    margin: 0 5%;
    font-size: 1.3em;
  }

  .skills-image {
    width: 50%;
  }

  .small-nav p {
    display: none;
  }

ul.bottom-nav {
  display: flex;
  justify-content: flex-end;
}

li.bottom.right {
  margin-right: 35px;
  font-weight: bold;
  display: inline;
  font-size: 1.5em;
}

.left-name {
  display: flex;
  margin: 0px 0px 0px 20px;
  font-size: 1.5em;
  }
}

  @media (min-width: 1024px) {
    
    h1 {
      float: left;
      margin-left: 4%;
      font-weight: bold;
      padding: 0px;
    }

    nav ul {
      float: right;
      width: 50%;
      font-weight: bold;
      margin-top: 10px;
      font-size: 1.3em;
    }

    nav li {
      padding: 0px;
      font-weight: bold;
    }
    
    .container.clearfix {
      display: inline-block;
    }

    .top-col {
      font-size: 1.5em;
    }

    p {
      padding: 0px 5px 0px 5px;
    }

    h2 {
      padding-top: 45px;
    }
    
    h3 {
      font-size: 2em;
    }

    h4 {
      font-size: 1.2em;
    }

    .clearfix {
      padding-top: 20px;
    }

    .row-1 {
      display: inline-block;
    }

    .row-2 {
      display: inline-block;
    }
      
    .col {
      width: calc(33.333% - 20px);
    }

    .skills-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      padding: 30px 0px 30px 0px;
    }

    .contact {
      padding-bottom: 20px;
    }

    .contact-list li {
      padding: 10px;
    }

    .right.bottom {
      font-size: 1.5em;
    }

    .left-name {
      font-size: 1.5em;
    }
  }

